# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "f2b7df60e97649de18a9d3fd50c2502d"
name = "AI Content Generator"
handle = "ai-content-generator"
application_url = "https://ai-content-generator-kk0a.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "testpiyush12.myshopify.com"
include_config_on_deploy = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [
  "https://ai-content-generator-kk0a.onrender.com/auth/callback",
  "https://ai-content-generator-kk0a.onrender.com/auth/shopify/callback",
  "https://ai-content-generator-kk0a.onrender.com/api/auth/callback"
]

[webhooks]
api_version = "2024-01"

  [[webhooks.subscriptions]]
  uri = "pubsub://content-generator:content"
  compliance_topics = [ "customers/redact", "customers/data_request", "shop/redact" ]

[pos]
embedded = false
